<template>
  <div>
    <h4 style="color: red" v-if="loginFailed">Wrong email or password</h4>
    <el-col :offset="7" :span="10">
      <el-form :model="ruleForm2" status-icon ref="ruleForm2" label-position="left">
        <el-form-item
          prop="email"
          label="Email"
          :rules="[
            { required: true, message: 'Please input email address', trigger: 'blur' },
            { type: 'email', message: 'Please input correct email address', trigger: ['blur'] }
          ]"
        >
          <el-input v-model="ruleForm2.email"></el-input>
        </el-form-item>
        <el-form-item
          class="form-item"
          label="Password"
          prop="password"
          :rules="[
            { required: true, message: 'Please input password', trigger: 'blur' },
          ]"
        >
          <el-input type="password" v-model="ruleForm2.password" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitForm('ruleForm2',ruleForm2)">Login</el-button>
        </el-form-item>
      </el-form>
    </el-col>
  </div>
</template>

<script>
import firebase from "firebase/app";
import "firebase/auth";
export default {
  data() {
    var checkAge = (rule, value, callback) => {
      if (!value) {
        return callback(new Error("Please input the age"));
      }
      setTimeout(() => {
        if (!Number.isInteger(value)) {
          callback(new Error("Please input digits"));
        } else {
          if (value < 18) {
            callback(new Error("Age must be greater than 18"));
          } else {
            callback();
          }
        }
      }, 1000);
    };

    return {
      ruleForm2: {
        email: "",
        password: ""
      },
      loginFailed: false
    };
  },
  methods: {
    submitForm(formName, user) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.$store
            .dispatch("logIn", user)
            .then(res => this.$router.push({ name: "home" }))
            .catch(err => this.loginFailed = true);
        } else {
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    }
  }
};
</script>

<style scoped>

</style>