<template>
  <div>
    <el-form :model="formModel" :rules="rules" ref="form">
      <el-form-item prop="email" label="Email">
        <el-input type="email" required v-model="formModel.email"/>
      </el-form-item>
      <el-form-item label="Password" prop="password">
        <el-input type="password" required v-model="formModel.password"/>
      </el-form-item>
      <el-form-item label="Name">
        <el-input required v-model="formModel.name"/>
      </el-form-item>
      <el-form-item label="Address">
        <el-input required v-model="formModel.address"/>
      </el-form-item>
      <el-form-item label="Birth" prop="birth">
        <el-date-picker format="yyyy-MM-dd" value-format="yyyy-MM-dd" v-model="formModel.birth"/>
      </el-form-item>
      <el-form-item label="Job">
        <el-input v-model="formModel.job"/>
      </el-form-item>
      <el-form-item label="Marriaged">
        <el-checkbox v-model="formModel.marriaged"></el-checkbox>
      </el-form-item>
      <el-form-item>
        <el-row>
          <el-button type="primary" @click="addUser">Add</el-button>
          <el-button @click="closeDialog">Cancel</el-button>
        </el-row>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { functions } from "firebase";
export default {
  data() {
    function validateAge(rule, value, callback) {
      if (value == null || value == "") {
        callback(new Error("Birth required"));
      } else {
        let now = new Date();
        if (now.getFullYear() - new Date(value).getFullYear() < 18)
          callback(new Error("Age must be greater than 18"));
        else {
          callback();
        }
      }
    }
    function validatePass(rule, value, callback) {
      if (value == null || value == "") {
        callback(new Error("Password required"));
      } else {
        if (value.length < 8)
          callback(new Error("Password must have at least 8 letter"));
        else {
          callback();
        }
      }
    }
    return {
      formModel: {
        email: "",
        password: "",
        name: "",
        address: "",
        birth: "",
        job: "",
        marriaged: false
      },
      rules: {
        email: [
          {
            required: true,
            message: "Please input email address",
            trigger: "blur"
          },
          {
            type: "email",
            message: "Please input correct email address",
            trigger: ["blur"]
          }
        ],
        password: [
          {
            validator: validatePass,
            trigger: "blur"
          },
          { required: true, trigger: "blur" }
        ],
        birth: [
          { validator: validateAge, trigger: "blur" },
          { required: true, trigger: "blur" }
        ]
      }
    };
  },
  methods: {
    addUser() {
      this.$refs["form"].validate(valid => {
        if (valid == true) {
          const newUser = { ...this.$data.formModel };
          this.$store.dispatch("addUser", newUser);
          this.reset();
          this.closeDialog();
        } else {
          return false;
        }
      });
    },
    closeDialog() {
      this.$store.commit("closeDialog");
    },
    reset() {
      (this.formModel.email = ""),
        (this.formModel.password = ""),
        (this.formModel.name = ""),
        (this.formModel.address = ""),
        (this.formModel.birth = ""),
        (this.formModel.job = ""),
        (this.formModel.marriaged = false);
    }
  }
};
</script>
<style scoped>
</style>
