<template>
  <el-row>
    <el-input placeholder="Type here to search" v-model="keyArr"></el-input>
  </el-row>
</template>

<script>
export default {
  data() {
    return {
    };
  },
  computed:{
    keyArr: {
      get: function(){
        return this.$store.state.keyArr.join(" ")
      },
      set: function(newKey){
        this.$store.commit('setKeyArr', newKey.split(" "))
      }
      
    }
  }
};
</script>

<style scoped>
  .el-input{
    width: 30%;
  }
</style>