<template>
  <div>
    <el-row :gutter="0">
      <el-col :span="4">
        <el-input v-model="info.email" @change="modified=true"></el-input>
      </el-col>
      <el-col :span="4">
        <el-input v-model="info.name" @change="modified=true"></el-input>
      </el-col>
      <el-col :span="3">
        <el-input v-model="info.address" @change="modified=true"></el-input>
      </el-col>
      <el-col :span="4">
        <el-date-picker
          type="date"
          format="yyyy-MM-dd"
          value-format="yyyy-MM-dd"
          v-model="info.birth"
          @change="modified=true"
        ></el-date-picker>
      </el-col>
      <el-col :span="2">
        <el-checkbox v-model="info.marriaged" @change="modified=true"></el-checkbox>
      </el-col>
      <el-col :span="4">
        <el-input v-model="info.job" @change="modified=true"></el-input>
      </el-col>
      <el-col :span="3">
        <el-button @click="updateUser" :disabled="!modified" type="warning">Save</el-button>
        <el-button @click="deleteUser" type="danger">Delete</el-button>
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  props: {
    info: {}
  },
  data() {
    return {
      modified: false
    };
  },
  methods: {
    deleteUser() {
      this.$store.dispatch("deleteUser", this.info.id);
    },
    updateUser() {
      this.modified = false;
      this.$store.dispatch("updateUser", this.info);
    }
  }
};
</script>

<style scoped>
.el-col {
  text-align: center;
  border-style: solid;
  border-width: 0px 1px 0px 1px;
  padding: 5px;
  min-height: 52px;
  height: 100%;
}
.el-row {
  border-style: solid;
  border-width: 1px 0px 1px 0px;
}
.el-row :first-child {
  border-left: 20px;
}
.el-input {
  width: 90%;
}
.el-checkbox{
  margin-top: 13px
}
.el-date-picker{
  width: 100%;
}
</style>